@import "../../../color-variable.scss";

.main-section {
  display: flex;
  justify-content: space-between;
  margin-left: 71px;
  margin-right: 71px;
  margin-bottom: 60px;

  .headline {
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;

    span {
      font-weight: bold;
      font-size: 20px;
      color: $secondery-text;
    }
    h1 {
      font-size: 72px;
      font-weight: 900;
      color: $primary-text;
    }

    .main-img {
      background-color: $primary-color;
    }
  }
}

.benefit-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 40px;

  .benefit-data {
    line-height: 70px;
    font-weight: bold;
    font-size: 30px;
    margin-right: 30px;
    h2 {
      padding-bottom: 20px;
      border-bottom: 10px solid $primary-color;
      font-weight: bold;
      color: $seconderay-color;
    }
  }

  p {
    line-height: 60px;
    font-size: 40px;
    font-weight: lighter;
  }
}

.cta-section {
  display: flex;
  justify-content: center;
}
